body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 29%, 56%);

}
#myH1{
    font-size: 6rem;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.412);
    color: rgba(0, 255, 247, 0.517);
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid;
    padding: 30px;
    background-color: rgb(195, 140, 140);
    border-radius: 50px;
}
#display{
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    color: hsl(0, 59%, 30%);
    text-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.412);
    margin-bottom: 25px;
}
#container2{
    font-size: 1.5rem;
    text-align: center;
    font-family: monospace;
    font-weight: bold;
    color: hsl(0, 59%, 30%);
    text-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.412);
    margin-bottom: 25px;
}
#controls button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    border:none;
    border-radius:10px;
    cursor: pointer;
    color: white;
    transition: background-color 0.5s ease;
}
#startBtn{
    background-color: hsl(120, 80%, 44%);
}
#startBtn:hover{
    background-color: hsl(120, 82%, 59%);
}
#stopBtn{
    background-color: hsla(227, 84%, 50%, 0.885);
}
#stopBtn:hover{
    background-color: hsl(203, 79%, 58%);
}
#resetBtn{
    background-color: hsl(0, 98%, 49%);
}
#resetBtn:hover{
    background-color: hsla(0, 100%, 71%, 0.636);
}
#lapBtn{
    background-color: hsl(320, 92%, 47%);
}
#lapBtn:hover{
    background-color: hsla(305, 95%, 49%, 0.897);
}